<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ("../partials/head.ejs") %>
  
  </head>
  <body>
    <%- include ("../partials/nav.ejs") %>
      
      <main>
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-2">
              <%- include ("../partials/sidenav.ejs") %>
            </div> <!-- close left column -->
            <div class="col-md-8 d-none" id="page">
              <observable-div id="main" name="home">
                <!-- content delivered by the server -->
                <%- include ("../pages/home.ejs") %>
              </observable-div>
            </div> <!-- close center column -->
            <div class="col-md-2"></div> <!-- close right column -->
          </div> <!-- close row -->
        </div> <!-- close container -->
      </main>    
    <%- include ("../partials/footer.ejs") %>
    <script src="/js/clientside.js" type="module"></script>
  </body>
</html>