<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ("../partials/head.ejs") %>
  </head>
  <body>
    <%- include ("../partials/nav.ejs") %>
      
      <main>
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-3">
              <%- include ("../partials/sidenav.ejs") %>
            </div> <!-- close left column -->
            <div class="col-md-6 d-none" id="main">
              <!-- content delivered by the server -->
              <%- include ("../pages/home.ejs") %>
            </div>
            <div class="col-md-3"></div> <!-- close right column -->
          </div> <!-- close row -->
        </div> <!-- close container -->
      </main>    
    <%- include ("../partials/footer.ejs") %>
    <script src="/js/clientside.js" type="module"></script>
  </body>
</html>